@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-rubik);
}

.markdown > * {
  all: revert;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;  

    --subtitle: 215.4 16.3% 46.9%;

    --radius: 0.5rem;
  }
  * {
    @apply border-accent;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  .dark {
    --background: 224 71% 4%;
    --popover: 224 71% 4%;
    --card: 224 71% 4%;

    --foreground: 213 31% 91%;
    
    --primary: 210 40% 98%;
    --secondary: 222.2 47.4% 11.2%;
  
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;

    --popover-foreground: 215 20.2% 65.1%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --destructive: 0 63% 31%;

    --radius: 0.5rem;
  }
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}